.hero-and-footer, .quote-text, .information-header-text {
background-color: #1F2937;
}
.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
}
.information-header-text, .quote-text{
  font-size: 36px;
}
.header-logo-text {
  font-size: 24px;
}
.hero-secondary-text, .header-link-text {
  font-size: 18px;
}
.hero-secondary-text,.quote-section-background-color, .header-link-text {
  background-color: #E5E7EB
} 
.hero-main-text, .hero-logo-text {
  color:#F9FAF8
}
.btn, .call-to-action-bgc {
  background-color: #3882f6
}

